.page {
  background-color: #15191D;
  font-size: 14px;
  color: #ffffff;
  margin: 0 auto;
  min-width: 320px; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.page-header {
  display: flex;
  width: auto;
  height: 43px;
  margin: 0 auto;
  padding-left: 13px;
  padding-right: 13px;
  background-color: rgba(0, 0, 0, 0.5); }

.page-header__logo {
  position: relative;
  width: 65.66px;
  height: 20.7px;
  margin-top: 8.1px;
  margin-left: auto; }

.page-header__logo h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #A79258;
  line-height: 0;
  float: left; }

.page-header__logo h2::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 38px;
  width: 1px;
  height: 20.5px;
  background: url(../img/logo-line.png) no-repeat; }

.page-header__logo img {
  float: right;
  width: 22.1px;
  height: 22.1px;
  margin-top: 1px; }

.page-header__menu-button {
  width: 30px;
  height: 19px;
  background: url("../img/menu-button.png") no-repeat;
  margin-top: 10.17px; }
