.container () {
  width: auto;
  margin: 0 auto;
  padding: 0 23px 0 23px;

  @media @desktop-widths {
    max-width: 960px;
  }
}

.flex () {
  display: flex;
}

.flex-c () {
  display: flex;
  flex-direction: column;
}

.hover () {
  &:hover {
    cursor: pointer;
  }
}

.hide () {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hide-h () {
  display: none;
}

.show-s () {
  display: block;
}

.show () {
  position: relative;
  clip: none;
  width: auto;
  height: auto;
  margin: 0;
}

.list-unstyled () {
  li {
    list-style: none;
  }
}

.href-instyled () {
  a {
    text-decoration: none;
  }
}
