body {
  font-size: 12px;
  line-height: 27px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 400;

  margin: 0 auto;

}

.page {

    background-color: @bg-darkgrey;


    &--light {
      background-color: @bg-lightgrey;
    }
}

img {
  max-width: 100%;
  height: auto;
}
