@bg-darkgrey: #15191D;
@bg-lightgrey: #EEEEEE;
@darkgold: #A79258;
@lightgold: #DCC585;
@bg-header-and-footer: #000000;
@bg-header-opacity: rgba(0, 0, 0, .6);
@bg-body-left-menu: #2A2D31;
@desktop-widths: ~"(min-width: 1088px)";
