@bg-darkgrey: #15191D;
@bg-lightgrey: #EEEEEE;
@darkgold: #A79258;
@lightgold: #DCC585;
@bg-header-and-footer: #000000;
@bg-header-opacity: rgba(0, 0, 0, .85);
@bg-body-left-menu: #2A2D31;
@item-mirror: #37301D;
@button-color: #51536B;
@button-color-hover: #606278;
@bg-ad: #EEEDED;
@bg-ad-title: #464143;
@desktop-widths: ~"(min-width: 882px)";
@flex-big: ~"(min-width: 882px)";
