.button {
	display: block;
	width: 156.71px;
	height: 28.03px;
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	color: @bg-lightgrey;
	background-color: @button-color;

	&:hover {
		background-color: @button-color-hover;
		cursor: pointer;
	}

	&--center {
		margin: 0 auto;
		margin-bottom: 20px;
	}
}