.item {
  position: relative;
  width: 262px;
  min-height: 228.49px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.item__price {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 97.1px;
  left: 13.5px;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}

.item__info {
  position: absolute;
  top: 121.9px;
  left: 0;
  width: 100%;
  min-height: 106.63px;
  background-color: @item-mirror;
}

.item__info-inner {
  .flex-c ();
  width: inherit;
  min-height: 78.46px;
}

.item__name {
  max-width: 228px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-left: 13.5px;
  margin-top: 7.5px;
  margin-bottom: 4.2px;
}

.item__description {
  max-width: 228px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: 300;
  text-align: left;
  margin-left: 13.5px;
  margin-bottom: 4.2px;
  line-height: 1.3;
}

.item__button {
  max-width: 85px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  margin-left: 13.5px;
  margin-bottom: 10.2px;
  text-transform: uppercase;
}
