.main-header {
  width: 100vw;
  height: 44px;
  background-color: @bg-header-opacity;
  position: fixed;
  top: 0;
  z-index: 100;
}

.main-header__inner-nav {
  height: 44px;
  .container();
  .flex();
  justify-content: space-between;
}

.main-header__button {
  width: 31px;
  height: 20px;
  margin-top: 13.7px;
  background: url("../img/menu-button.png") no-repeat;
  .hover();
}

.main-header__menu {
  .hide();
}

.main-header__logo {
  position: relative;
  width: 74.55px;
  height: 23.5px;
  margin-top: 10.7px;
  color: black;
  .flex();
}

.main-header__logo p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: @darkgold;
  line-height: 1.5;
}

.main-header__logo p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;

  width: 1px;
  height: 24px;

  background: url("../img/viertical-line.png") no-repeat;
}

.main-header__logo img {
  margin-left: auto;
}

@media @desktop-widths {
  .main-header__button {
    .hide ();
  }

  .left-menu {
    .hide ();
  }

  .main-header__logo {
    margin-right: auto;
  }

  .main-header__menu {
    .show ();
    .list-unstyled ();
    .href-instyled ();
  }

  .main-header__menu ul {
    .flex ();
    line-height: 1.7;
  }

  .main-header__menu a {
    color: @darkgold;
    padding: 20.5px 13px 14.5px 13px;
  }

  .main-header__menu a:hover {
    background-color: #1E1D1D;
  }
}
