.main-content--flex {
  .container ();
  .flex ();
}

.main-content__category-name {
  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.main-content__block-items {
  margin: 0 auto;
  min-width: 269px;
  min-height: 800px;
}

.main-content__block-items-wrapper {
  margin: 0 auto;
  min-width: 269px;
  min-height: 800px;
}

.main-content__ads-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 16.5px;
  font-size: 16px;
  color: #ffffff;
}

@media @desktop-widths {
  .main-content__category-name {
    font-size: 22px;
    font-weight: 400;
  }

  .main-content__block-items {
    min-width: 685px;
  }

  .main-content__block-items-wrapper {
    .flex ();
    flex-wrap: wrap;
    align-items: flex-start;
    width: 615px;
  }


}
